.ce_tabs_control_be.tab_example {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px 0;

  .example-tab {
    border: 1px solid #cccccc;
    background-color: #fff;
    margin: 0;
    min-width: 30px;
    text-align: center;
    padding: 3px 5px;
    line-height: 1.5em;
    margin-left: -1px;
    flex: 1 1 0;
    width: 0;
    display: inline-block;
    min-height: 1.5em;

    &.current {
      background-color: #8ab858;
      color: white;
    }
  }

  &.tab-stop-element .example-tab {
    background-color: #ff2222;
    color: #FFF;
  }
}